* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #f5f5f5;
}

/*estilos menu navegacion*/
.navegacion-inicio{
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
.menu ul{
  margin: auto;
}

.menu1 img{
  width: 200px;
  height: 100px;
}
.menu ul li a{
  color: #020202;
  font-size: 17px;
  margin-right: 15px;
}
.menu ul li a:hover{
  color: #ffe800 !important;
}

.menudos li a:hover{
  background-color: #0f0f0f;
  width: auto;
}

.menudos {
    background-color: white; 
  }
  .menudos a {
    color: black !important; 
  }

  .buscar{
    background-color: #ffe800;
    color: #000000;
    border-color: #fff;
  }
  .buscar:hover{
    background-color: #ebdd43;
    color: #000000;
    
  }
  .btn.buscar:active {
    background-color: #FED92F;
    border-color: #a8a8a8;
}

  .hamburguesa {
    background-color: white; 
   
  }

.banner-nuevo{
  height: 700px;
  padding: 50px 0px 0px 0px;
}

/*estilos nueva coleccion*/
.imagencoleccion {
  padding: 0px 0px 10px 0px;
  text-align: center;
}

.imagencoleccion h1{
  margin: 20px 0px 20px 0px;
  font-size: 40px;
}

.imagenes{
  display: flex;
  flex-wrap: wrap; 
  max-width: 100%; 
  margin: 0 auto; 
  justify-content: center; 
}

.cajaimagen img{
  max-width: 400px;
  width: 350px;
  padding: 5px;
  margin-right: 15px;
}

/*estilos categorias*/

.imagen-categoria {
  padding: 10px;
  text-align: center;
  justify-content: center;
  max-width: 100%;
 
}

.cajaimagen-cate {
  display: flex;
  flex-wrap: wrap; 
  display: inline-block;
  justify-content: center; 
  max-width: 100%; 
  margin: 0 auto; 
  overflow: hidden;
 
}

.cajaimagen-cate img {
  max-width: 400px;
  height: 500px;
  padding: 10px;
  transition: transform 0.8s; /* Efecto de zoom al pasar el mouse */
}

.cajaimagen-cate:hover img {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse */
}


.titulo-imagen {
  bottom: 10px; 
  left: 10px; 
  margin: 0;
  padding: 0;
  font-size: 18px;
  padding: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 40px;
}


footer {
  background-color: #191e24;
  color: #fff;
  text-align: center;
  padding-top: 100px;
  margin-top: 10px;
}
footer p{
  background-color: #191e24;
}


.logoabajo img{
  display: flex;
  margin-left: 20%;
  align-content: left;
  text-align: left;
  width: 250px;
  height: 100px;
}

.lista-abajo li a{
  display: flex;
  flex-wrap: wrap; 
  display: inline-block;
  text-decoration: none;
  text-align: right;
}

.imagensecion {
  width: 100%; 
}
.imagensecion img {
  width: 100%;
  height: 700px; /* Asegura que la relación de aspecto de la imagen se mantenga */
}
.imagencoleccion2{
  padding-top: 90px;
}
.imagencoleccion2 h2{
  margin-left: 200px;
   padding-bottom: 20px;
 }

/* estilos a seccion de imagenes */
.imagenes2 {
  display: flex;
  flex-wrap: wrap; 
  max-width: 100%; 
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center; 
  margin-bottom: 2px;
}

.cajaimagen2 {
  text-align: center; 
  justify-content: center;
}


.cajaimagen2 img {
  width: 350px; 
  height: 400px; 
  margin-right: 30px; 
}


.imagencoleccion3{
  padding-top: 90px;
  margin-bottom: 100px;
}
.imagencoleccion3 h2{
 margin-left: 200px;
  padding-bottom: 20px;
}

.imagencoleccion4{
  padding-top: 90px;
  margin-bottom: 100px;
}

.imagencoleccion4 h2{
  margin-left: 200px;
  padding-bottom: 20px;
}


/*estilos categorias gorras*/

.imagen-categoria {
  padding: 10px;
  text-align: center;
  justify-content: center;
  max-width: 100%;
 
}

.cajaimagen-cate {
  display: flex;
  flex-wrap: wrap; 
  display: inline-block;
  justify-content: center; 
  max-width: 100%; 
  margin: 0 auto; 
  overflow: hidden;
 
}

.cajaimagen-cate img {
  max-width: 400px;
  height: 500px;
  padding: 10px;
  transition: transform 0.8s; /* Efecto de zoom al pasar el mouse */
}

.cajaimagen-cate:hover img {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse */
}




.formulario {
  width: 450px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #cccccc;
  box-shadow: #83878d;
  margin-top: 25%;
  background-color: #000000;
  color: #fff;
}

.campo{
  margin-bottom: 20px;
  text-align: left;
}
label{
  display: block;
  
}
textarea{
  display: block;
  width: 420px;
}

input{
  border-radius: 2px;
}
.boton{
  background-color: #ebdd43;
  width: 100px;
  border-radius: 5px;
  border-color: #FED92F;

}

.listacontacto{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

@media screen and (max-width:768px){
 
  .banner-nuevo{
    margin: 50px 0px 0px 0px;
    
  }
}

@media (max-width: 768px) {
  .imagencoleccion {
      margin-top: 5px; 
  }
}






  







