// comentario solo para sass
/*comentario sass y css*/

@import "utilidades/variable";
@import "utilidades/listas";
@import "utilidades/mapas";
@import "utilidades/mixin";
@import "utilidades/extend";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $color-body;
}

/* estilos menu de navegacion*/
.navegacion-inicio {
  @extend %estilos;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;

  .menu1 img {
    width: 200px;
    height: 100px;
  }
  .menu1 {
    .menu {
      .redes {
        img {
          width: 30px;
          height: 30px;
          margin-right: 50px;
        }
      }
      margin-left: 22%;
      ul {
        li {
          a {
            color: nth($colores, 2);
            font-size: 17px;
            margin-right: 15px;
          }
          a:hover {
            color: #ffe800 !important;
          }
        }
      }

      .menudos {
        a:hover {
          background-color: #000000;
          color: $color-enlaces;
        }
      }
    }
  }
}

.banner-nuevo {
  height: 700px;
  padding: 50px 0px 0px 0px;
}

/*estilos nueva coleccion*/
.imagencoleccion {
  padding: 0px 0px 10px 0px;
  text-align: center;
  h2 {
    margin: 20px 0px 20px 0px;
    font-size: 40px;
    font-weight: bold;
  }

  .imagenes {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;

    .cajaimagen {
      height: 550px;
      position: relative;

      img {
        display: block;
        max-width: 330px;
        width: 330px;
        height: 430px;
        padding: 10px;
        transition: transform 0.8s; /* Efecto de zoom al pasar el mouse */
      }

      img:hover {
        transform: scale(
          1.1
        ); /* Aumenta el tamaño de la imagen al pasar el mouse */
      }

      .letra {
        color: #000;
        bottom: 150px;
        right: 20px;
        left: 20px;
        text-align: center;
        opacity: 1;
        transition: opacity 0.7s ease;

        P {
          margin-top: 10px;
          font-size: 15px;
          font-weight: bold;
        }
      }

      .boton-imagen {
        background-color: #fff;
        text-decoration: none;
        color: #000000;
        border: 2px solid #000;
        margin-bottom: 20px;
        padding: 5px 100px;
        font-size: 20px;
      }
      .boton-imagen:hover {
        background-color: #000;
        border-color: #fff;
        color: #fff;
      }
    }
  }
}

/*Estilo categorias*/

.imagen-categoria {
  padding: 10px;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  .imagenes-cate {
    .cajaimagen-cate {
      display: flex;
      flex-wrap: wrap;
      display: inline-block;
      justify-content: center;
      max-width: 100%;
      margin: 0 auto;
      overflow: hidden;
      height: 600px;
      img {
        max-width: 100%;
        width: 400px;
        height: 500px;
        padding: 10px;
        transition: transform 0.8s; /* Efecto de zoom al pasar el mouse */
      }
      img:hover {
        transform: scale(
          1.1
        ); /* Aumenta el tamaño de la imagen al pasar el mouse */
      }

      .letra {
        border: 2px solid #fff;
        color: #fff;
        margin-left: 70px;
        border-radius: 5px;
        text-align: center;
        position: absolute;
        bottom: -490px;
        width: 250px;

        .titulo-imagen {
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 35px;
          font-family: sans-serif;
        }

        .titulo-imagen:hover {
          color: #fff;
        }
        a {
          text-decoration: none;
          color: #fff;
        }
      }
      .letra:hover {
        background-color: #000;
      }

      .boton-imagen {
        background-color: #f6ea00;
        text-decoration: none;
        color: #000000;
        margin-bottom: 20px;
        padding: 5px 100px;
        font-size: 20px;
      }
      .boton-imagen:hover {
        background-color: #fbf451;
      }
    }
  }
}

.marcas {
  display: inline-block;
  justify-content: center;
  text-align: center;
  background-color: #fff;

  .marcas-frase {
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #020202;
  height: 100px;
  margin-top: 10px;

  .logoabajo {
    display: flex;
    margin-left: 180px;
    align-content: left;
    text-align: left;
    width: 250px;
    height: 80px;
  }
  .lista-derecha {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin-right: 160px;
      margin-top: 20px;
      color: #fff;
      li {
        margin: 0 10px;
        a {
          img {
            @include estilos-base(30px, 30px, #fff);
            /*width: 30px;
                        height: 30px;
                        background-color: #ffffff;*/
            border-radius: 360px;
          }
        }
      }
    }
  }
}

/*ESTILO GORRAS*/
/*BANNER GORRAS*/

.imagen-secion {
  width: 100%;
  img {
    width: 100%;
    height: 700px;
  }
}

/*Estilo gorras*/

/*estilos para gorras*/
.imagen-gorra {
  padding: 10px;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  h1 {
    margin: 20px 0px 20px 0px;
    font-size: 40px;
  }

  .imagenes-gorra {
    .caja-imagen-gorra:hover {
      border: 1px solid #008eea;
    }

    .caja-imagen-gorra {
      display: flex;
      flex-wrap: wrap;
      display: inline-block;
      justify-content: center;
      max-width: 100%;
      margin: 0 auto;
      overflow: hidden;
      height: 550px;

      img {
        max-width: 300px;
        width: 330px;
        height: 430px;
        padding: 10px;
        cursor: pointer;
        transition: opacity 0.5s;
      }
      .boton-gorras {
        border: 2px solid #000;
        text-decoration: none;
        color: #000;
        margin-bottom: 20px;
        padding: 5px 100px;
        font-size: 20px;
      }

      .boton-gorras:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

/*estilos sueter para adultos*/

.imagen-coleccion-sueter {
  padding: 0px 0px 10px 0px;
  text-align: center;
  h1 {
    margin: 40px 0px 20px 0px;
    font-size: 40px;
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .imagenes-sueter {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 50px;
    .caja-imagen-sueter:hover {
      border: 1px solid #008eea;
    }

    .caja-lateral {
      background-color: #f5f5f5;
      padding: 10px;
      width: 200px;

      h6 {
        text-align: left;
        font-size: 20px;
        margin-bottom: 10px;
        color: #000;
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding: 0;

        li {
          text-align: left;
          margin-bottom: 5px;
          font-size: 14px;
          color: #600;

          a {
            font-size: 17px;
            text-decoration: none;
            color: #000;
          }

          a:hover {
            color: #c7b80e;
            font-weight: bold;
          }
        }
      }
    }
    .caja-imagen-sueter {
      height: 550px;

      img {
        max-width: 330px;
        width: 330px;
        height: 430px;
        padding: 10px;
        cursor: pointer;
        transition: opacity 0.5s;
      }

      img:hover {
        opacity: 0.8;
      }

      .boton-gorras {
        border: 2px solid #000;
        text-decoration: none;
        color: #000000;
        margin-bottom: 20px;
        padding: 5px 100px;
        font-size: 20px;
      }

      .boton-gorras:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

/*segunda secion sueter*/

.imagen-coleccion-sueter-conjunto {
  margin-left: 190px;
  padding: 0px 0px 10px 0px;
  text-align: center;
  h1 {
    margin: 40px 0px 20px 0px;
    font-size: 40px;
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .imagenes-sueter {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 50px;
    .caja-imagen-sueter:hover {
      border: 1px solid #008eea;
    }

    .caja-lateral {
      background-color: #f5f5f5;
      padding: 10px;
      width: 200px;

      h6 {
        text-align: left;
        font-size: 20px;
        margin-bottom: 10px;
        color: #000;
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding: 0;

        li {
          text-align: left;
          margin-bottom: 5px;
          font-size: 14px;
          color: #600;

          a {
            font-size: 17px;
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
    .caja-imagen-sueter {
      height: 550px;

      img {
        max-width: 330px;
        width: 330px;
        height: 430px;
        padding: 10px;
        cursor: pointer;
        transition: opacity 0.5s;
      }

      img:hover {
        opacity: 0.8;
      }

      .boton-gorras {
        border: 2px solid #000;
        text-decoration: none;
        color: #000000;
        margin-bottom: 20px;
        padding: 5px 100px;
        font-size: 20px;
      }

      .boton-gorras:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

/*Estilos Pantalonetas*/
.imagen-coleccion-pantalonetas {
  padding: 0px 0px 10px 0px;
  text-align: center;
  h1 {
    margin: 40px 0px 20px 0px;
    font-size: 40px;
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .imagenes-pantalonetas {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 50px;

    .caja-lateral {
      background-color: #f5f5f5;
      padding: 10px;
      width: 200px;

      h6 {
        text-align: left;
        font-size: 20px;
        margin-bottom: 10px;
        color: #000;
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding: 0;

        li {
          text-align: left;
          margin-bottom: 5px;
          font-size: 14px;
          color: #600;

          a {
            font-size: 17px;
            text-decoration: none;
            color: #000;
          }
          a:hover {
            color: #c7b80e;
            font-weight: bold;
          }
        }
      }
    }

    .caja-imagen-pantalonetas {
      img {
        max-width: 330px;
        width: 330px;
        height: 430px;
        padding: 10px;
        cursor: pointer;
        transition: opacity 0.5s;
      }

      img:hover {
        opacity: 0.8;
      }

      .boton-gorras {
        border: 2px solid #000;
        text-decoration: none;
        color: #000000;
        margin-bottom: 20px;
        padding: 5px 100px;
        font-size: 20px;
      }

      .boton-gorras:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

/*Estilos Pantalonetas Bermudas*/
.imagen-coleccion-pantalonetas-bermudas {
  margin-left: 190px;
  padding: 0px 0px 10px 0px;
  text-align: center;
  h1 {
    margin: 40px 0px 20px 0px;
    font-size: 40px;
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .imagenes-pantalonetas {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 50px;

    .caja-lateral {
      background-color: #f5f5f5;
      padding: 10px;
      width: 200px;

      h6 {
        text-align: left;
        font-size: 20px;
        margin-bottom: 10px;
        color: #000;
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding: 0;

        li {
          text-align: left;
          margin-bottom: 5px;
          font-size: 14px;
          color: #600;

          a {
            font-size: 17px;
            text-decoration: none;
            color: #000;
          }
        }
      }
    }

    .caja-imagen-pantalonetas {
      img {
        max-width: 330px;
        width: 330px;
        height: 430px;
        padding: 10px;
        cursor: pointer;
        transition: opacity 0.5s;
      }

      img:hover {
        opacity: 0.8;
      }

      .boton-gorras {
        border: 2px solid #000;
        text-decoration: none;
        color: #000000;
        margin-bottom: 20px;
        padding: 5px 100px;
        font-size: 20px;
      }

      .boton-gorras:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

/*Estilos contacto*/
/*Estilos de contacto*/

.bod-contacto {
  background-image: url("../img/contactofondo.jpg"); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.footer-contacto {
  margin-top: -0px;
}

.formulario {
  width: 450px;
  height: 550px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9%;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);

  h1 {
    font-weight: 20px;
  }

  .campo {
    margin-bottom: 20px;
    text-align: left;
    background-color: #fff;

    label {
      display: block;
    }

    input {
      border-radius: 2px;
    }

    textarea {
      display: block;
      width: 420px;
    }

    .boton-contacto {
      background-color: #000;
      background-color: map-get($boton-standard, bg-standard);
      width: 150px;
      height: 40px;
      border-radius: 5px;
      border-color: #d1c10e;
      font-size: 18px;
      margin-left: 130px;
    }
  }

  .boton-contacto:hover {
    background-color: #c7b80e;
    color: #fff;
  }
}

.lista-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  li {
    color: #fff;
  }
}

.moving-div {
  width: 100%;
  height: 50px;
  background-color: #0c0c0c;
  position: absolute;
  animation: moveDiv 5s linear infinite;
}

.boton-whatsapp {
  display: flex;
  background-color: #f5f5f5;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 100%;
  bottom: 50px;
  right: 10px;
  padding: 0px;
  transition: ease 0.3s;

  a {
    img {
      width: 50px;
      transition: ease 1s;
    }

    .palabra {
      position: absolute;
      width: 130px;
      transform: translateX(-50%); /* Centra el tooltip horizontalmente */
      background-color: rgba(0, 0, 1, 1); /* Fondo del tooltip */
      color: #fff;
      padding: 5px 10px;
      border-radius: 3px;
      opacity: 0; /* Oculta el tooltip por defecto */
      transition: opacity 0.3s ease;
      font-size: 11px;
    }

    .palabra:hover {
      width: 150px;
      opacity: 1; /* Mostrar la palabra al pasar el mouse*/
      transform: translateX(-100%);
    }
  }
}

.frase-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
  padding-top: 11px;
  margin: 50px 20px 50px 20px;
  /*background-color: #e7d0bc;*/

  h1 {
    text-align: center;
  }

  p {
    max-width: 100%;
    margin-right: 150px;
    margin-left: 150px;
  }
}

.suscripcion {
  background-color: #e9da08;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: -10px;

  form {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;

    h5 {
      margin-bottom: 10px;
      font-size: 30px;
      padding-bottom: 10px;
    }

    .campo {
      display: inline-block;
      margin-right: 10px;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 30px;

      input[type="submit"] {
        background-color: #000;
        color: #fff;
        width: 150px;
        height: 35px;
        border: none;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #131313;
        color: #ffffff;
        border: 1px solid #000;
      }

      input[type="text"],
      input[type="email"] {
        width: 100%;
        height: 35px;
        padding: 10px;
        border: 1px solid #ccc;
      }
    }
  }
}

.pagos {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  max-width: 100%;
  h6 {
    font-size: 20px;
    padding-top: 50px;
  }
  img {
    padding-top: 20px;
    width: 350px;
    height: 130px;
  }
}

.calidad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 500px;
  /*width: 1300px;*/
  margin-left: 50px;

  .nueva-calidad {
    width: 500px;
    height: 200px;
    margin-right: 30px;

    .descripcion {
      width: 400px;
    }

    h6 {
      font-size: 40px;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .vermas {
      text-decoration: none;
      background-color: #fff;
      color: #000;
      border: 2px solid #000;
      padding: 10px 30px;
    }

    .vermas:hover {
      background-color: #000;
      color: #fff;
    }
  }

  .imagen-calidad {
    width: 300px;
    height: 200px;
    margin-right: 30px;

    .imagen {
      max-width: 150px;
      height: 80px;

      img {
        width: 400px;
        height: 430px;
      }
    }

    .imagen-segunda {
      width: 300px;
      height: 150px;
      margin-bottom: 60px;

      img {
        padding-left: 150px;
        width: 500px;
        height: 450px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navegacion-inicio {
    .menu1 {
      .menu {
        margin-left: 0%;
        ul {
          li {
            a {
            }
          }
        }
      }
    }
  }

  .frase-index {
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  footer {
    height: auto;
    flex-direction: column;
    text-align: center;

    .logoabajo {
      margin-top: 10px;
      margin-left: 40px;
      img {
        width: 200px;
      }
    }

    .lista-derecha {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 20px;

      ul {
        margin-right: 0;
        display: inline-block;
      }
    }
  }

  .banner-nuevo {
    height: 300px;
    margin-top: 50px;
  }

  .imagen-secion {
    img {
      height: 300px;
      margin-top: 50px;
    }
  }

  /*espaciado entre las cajas para mobile*/
  .imagen-coleccion-sueter {
    .imagenes-sueter {
      .caja-imagen-sueter {
        margin-bottom: 20px;
      }
    }
  }

  /*espaciado entre las cajas para mobile*/
  .caja-imagen-pantalonetas {
    margin-bottom: 20px;
  }

  .formulario {
    margin-top: 150px;
  }

  /* margen del boton suscribirse*/
  input[type="submit"] {
    margin-top: 20px;
  }

  /*categorias */
  .imagen-categoria {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imagenes-cate {
      .cajaimagen-cate {
        height: auto;

        .letra {
          /* position: relative;*/
        }
      }
    }
  }

  .calidad {
    margin-bottom: 80px;
    .nueva-calidad {
      display: inline-block;
      justify-content: center;
      margin-bottom: 70px;
    }

    .imagen-calidad {
      max-width: 300px; /* Ajusta el ancho al 100% del contenedor */
      height: auto; /* Mantiene la proporción de aspecto original */
      margin-right: 0;
      .imagen {
        max-width: 300px;
        height: auto;
        img {
          width: 330px;
          height: 430px;
        }
      }

      .imagen-segunda {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 600px;
        height: auto;
        img {
          max-width: 350px; /* Ajusta el ancho al 100% del contenedor */
          height: auto; /* Mantiene la proporción de aspecto original */
          margin-top: 10px;
          padding-left: 25px;
        }
      }
    }
  }

  .imagencoleccion {
    margin-top: 0px;
  }

  .imagen-coleccion-sueter-conjunto {
    margin-left: 0;
  }

  .imagen-coleccion-pantalonetas-bermudas {
    margin-left: 0;
  }
}
